@import 'nib'

$fontBaseLight = 'ubuntulight', Arial;
$colorBaseBody = #FEFEFE;
$bgcolorBase = #000;

.clearfix
  clearfix()

body
  font-family $fontBaseLight
  font-smoothing(antialiased)
  font-size 1em
  color $colorBaseBody
  background $bgcolorBase

.fade-in-page
  animation fade-in ease-in 2s both

@keyframes fade-in {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

li
  list-style none

h1
  text-align center

h2
  text-align center
  font-size 1.063em
  text-transform uppercase

a, a:hover, a:active
  color $colorBaseBody
  text-decoration none

a:hover
  text-decoration underline
