.sputly-about
  width 35%
  margin 0 auto
  text-align center
  p
    font-size 1.2em
    font-weight 800

@media (min-width: 481px) and (max-width: 960px)
  .sputly-about
    width: 80%
    p
      font-size 1.1em

@media (min-width: 320px) and (max-width: 480px)
  .sputly-about
    width: 100%

    p
      font-size 1em
