.sputly-content
  width 35%
  margin 0 auto
  text-align center
  p
    font-size 1.5em
    font-weight 800
    line-height 30px
    a
      text-decoration: none

@media (min-width: 481px) and (max-width: 960px)
  .sputly-content
    width: 80%
    p
      font-size 1.35em

@media (min-width: 320px) and (max-width: 480px)
  .sputly-content
    width: 100%
    p
      font-size 1.2em
