$colorCyan = #00B2D9;
.sputly-button
  color white
  font-size 22px
  font-weight 600
  padding 6px 20px
  border 1px solid $colorCyan
  background-color $colorCyan
  transition all .2s ease
.sputly-button:hover
  background-color white
  color $colorCyan
  text-decoration none
