$colorCyan = #00B2D9
.sputly-team
	padding 20px
	.team-members
		text-align center
		.member
			width 205px
			height 233px
			margin 0px 60px
			position relative
			display inline-block

			@media (max-width: 693px)
				margin-top: 30px

			.picture
				width inherit
				height inherit
				overflow hidden
				-webkit-mask-image url("../images/sputlytics-team-mask.png")
			.info
				color $colorCyan
